@model EnrollmentDTO

@{
    ViewData["Title"] = "Enroll";
}

<h1>Enroll</h1>

<form asp-action="Enroll">
    <div class="form-group">
        <label asp-for="TournamentId" class="control-label"></label>
        <input asp-for="TournamentId" class="form-control"  readonly="readonly"/>
        <label asp-for="EnrolledParticipants" class="control-label"></label>
        <input asp-for="EnrolledParticipants" class="form-control"  readonly="readonly"/>
        <label asp-for="MaxParticipants" class="control-label"></label>
        <input asp-for="MaxParticipants" class="form-control"  readonly="readonly"/>
        <label asp-for="PersonEmail" class="control-label"></label>
        <input asp-for="PersonEmail" class="form-control"  readonly="readonly"/>
    </div>
<div class="form-group">
    <input type="submit" value="Enroll" class="btn btn-primary" />
</div>
</form>
@*<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
