@{
    ViewBag.Title = "NoRoomResult";
    Layout = "_Layout";
}

<h1>Tournament enrollment</h1>
<h2>Tournament Is Full</h2>
@Html.ActionLink("Index", "Index") |
<a asp-action="Index">Back to List</a> |