<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="MainConnectionString" connectionString ="Data Source = hildur.ucn.dk; Initial Catalog = dmaa0221_1089437; User Id = dmaa0221_1089437; password = Password1!;" providerName="System.Data.SqlClient"></add>
		<add name ="TestConnectionString" connectionString ="Data Source = localhost\sqlexpress; Initial Catalog = TestDatabase; Integrated Security=True;" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>