<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="MainConnectionString" connectionString =" Data Source = DESKTOP-OL4OF0P\\SQLEXPRESS; Initial Catalog = TournamentSystem; Integrated Security=True;" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>