<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="MainConnectionString" connectionString =" Data Source = localhost\SQLEXPRESS; Initial Catalog = 3.SemesterDb; Integrated Security=True;" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>